<ol class="breadcrumb">
  <li class="breadcrumb-item">Home</li>
  <li class="breadcrumb-item active">Dashboard</li>
</ol>

<div class="container-fluid">
  <div class="animated fadeIn">
    <div class="row" style="margin-bottom: 30px">
      <div class="col-md-3">
        <div class="input-group">
            <input class="form-control"
                   type="date"
                   ng-model="filters.since"
                   style="width: 100%"
            />
          <span class="input-group-addon"><i class="fa fa-calendar fa-lg"></i></span>
        </div>
      </div>

      <div class="col-md-3">
        <div class="input-group">
            <input class="form-control"
                   type="date"
                   ng-model="filters.until"
                   style="width: 100%"/>
          <span class="input-group-addon"><i class="fa fa-calendar fa-lg"></i></span>
        </div>
      </div>

      <div class="col-md-2">
        <button class="btn btn-primary" ng-click="getDate(filters)">Filtruj</button>
      </div>
    </div>

    <card-simple type="primary"
          value="personAmount"
          desc="Liczba osób"></card-simple>

    <card-block title="Płeć"
                subtitle="Some text">
      <canvas class="chart chart-pie"
              chart-data="sex.data"
              chart-labels="sex.labels"
              chart-colors="sex.colors"
              height="300px">
      </canvas>
    </card-block>

    <div class="row">
      <div class="col-md-6">
        <card-block title="Wiek"
                    subtitle="asd">
          <canvas class="chart chart-bar"
                  chart-data="age.data"
                  chart-labels="age.labels"
                  chart-colors="age.colors"
                  height="300px">
          </canvas>
        </card-block>
      </div>

      <div class="col-md-6">
        <card-block title="Godziny"
                    subtitle="Foobar">
          <canvas class="chart chart-bar"
                  chart-data="hours.data"
                  chart-labels="hours.labels"
                  chart-colors="hours.colors"
                  height="300px">
          </canvas>
        </card-block>
      </div>
    </div>

  </div>
</div>




