<header class="app-header navbar">
  <a class="navbar-brand" ui-sref="root.dashboard"></a>
</header>

<div class="app-body">
  <div class="sidebar">
    <nav class="sidebar-nav">
      <ul class="nav">
        <li class="nav-item">
          <a class="nav-link" ui-sref="root.dashboard" ui-sref-active="active">
            <i class="icon-speedometer"></i> Dashboard
          </a>
        </li>
      </ul>
    </nav>
  </div>

  <!-- Main content -->
  <main class="main">
    <div class="ui-view"></div>
  </main>
</div>

<footer class="app-footer">
  <a href="http://jazzy.pro">Crowdy</a> &copy; 2017.
  <span class="float-right">Powered by <a href="http://jazzy.pro">FC kodo klepce</a></span>
</footer>
